.header__logo {
  /*width: 142px;
  height: 33px;*/
  max-width: 100%;
  /*padding: 45px 0 41px;*/
}

@media screen and (max-width: 879px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
