.popup__input {
  width: 100%;
  padding: 5px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-left: none;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  outline-offset: 4px;
  transition: .5s;
}

.popup__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
