.page__content {
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 879px) {
  .page__content {
    padding: 0 27px;
  }
}

@media screen and (max-width: 634px) {
  .page__content {
    padding: 0;
  }
}
