.profile__container {
  grid-area: name;
  display: inline-flex;
  position: relative;
  align-items: flex-end;
  align-self: flex-end;
  gap: 0 18px;
}

@media screen and (max-width: 776px) {
  .profile__container {
    align-self: center;
  }
}

@media screen and (max-width: 634px) {
  .profile__container {
    max-width: 282px;
  }
}
